/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "mouse.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE LEFT RIGHT UP DOWN MINUS>; };

&lt {
    quick-tap-ms = <170>;
    require-prior-idle-ms = <150>;
};

&sk {
    release-after-ms = <1500>;
    quick-release;
};

&sl { release-after-ms = <500>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        combo_knobs_softoff {
            bindings = <&soft_off>;
            key-positions = <42 43>;
            timeout-ms = <300>;
            slow-release;
            require-prior-idle-ms = <1000>;
        };

        combo_to_base_hrm_l {
            bindings = <&to 0>;
            key-positions = <4 3>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_to_base_hrm_r {
            bindings = <&to 0>;
            key-positions = <7 8>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_to_base_normal_l {
            bindings = <&to 1>;
            key-positions = <2 4>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_to_base_normal_r {
            bindings = <&to 1>;
            key-positions = <7 9>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_to_qwerty_l {
            bindings = <&to 3>;
            key-positions = <1 2>;
            slow-release;
            timeout-ms = <30>;
            layers = <0 1 2 4 5 6>;
            require-prior-idle-ms = <300>;
        };

        combo_to_qwerty_r {
            bindings = <&to 3>;
            key-positions = <10 9>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
            layers = <0 1 2 4 5 6>;
        };

        combo_to_qwerty_mir_l {
            bindings = <&to 4>;
            key-positions = <1 2>;
            slow-release;
            timeout-ms = <30>;
            layers = <3>;
            require-prior-idle-ms = <300>;
        };

        combo_to_qwerty_mir_r {
            bindings = <&to 4>;
            key-positions = <10 9>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
            layers = <3>;
        };

        combo_to_extended_l {
            bindings = <&to 5>;
            key-positions = <5 4>;
            slow-release;
            timeout-ms = <30>;
            require-prior-idle-ms = <300>;
        };

        combo_to_extended_r {
            bindings = <&to 5>;
            key-positions = <7 6>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_to_extra_l {
            bindings = <&to 6>;
            key-positions = <3 2>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_to_extra_r {
            bindings = <&to 6>;
            key-positions = <9 8>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <300>;
        };

        combo_mo_extra_1 {
            bindings = <&mo 6>;
            key-positions = <53 24>;
            timeout-ms = <70>;
            require-prior-idle-ms = <200>;
        };

        combo_mo_extra_2 {
            bindings = <&mo 6>;
            key-positions = <56 35>;
            timeout-ms = <70>;
            require-prior-idle-ms = <200>;
        };

        combo_mo_extra_3 {
            bindings = <&mo 6>;
            key-positions = <56 53>;
            timeout-ms = <70>;
            require-prior-idle-ms = <170>;
        };

        combo_sk_lshft {
            bindings = <&sk LSHFT>;
            key-positions = <28 31>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        combo_sk_lctrl {
            bindings = <&sk LCTRL>;
            key-positions = <27 32>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        combo_sk_lalt {
            bindings = <&sk LALT>;
            key-positions = <26 33>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <120>;
        };

        combo_kp_gui {
            bindings = <&kp LGUI>;
            key-positions = <25 34>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <44 30>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_capsw {
            bindings = <&caps_word>;
            key-positions = <29 30>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <170>;
        };

        combo_sk_shf_l {
            bindings = <&sk LSHFT>;
            key-positions = <16 28>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_shf_r {
            bindings = <&sk RSHFT>;
            key-positions = <19 31>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_ctr_l {
            bindings = <&sk LCTRL>;
            key-positions = <15 27>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_ctr_r {
            bindings = <&sk RCTRL>;
            key-positions = <20 32>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_alt_l {
            bindings = <&sk LALT>;
            key-positions = <14 26>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_alt_r {
            bindings = <&sk RALT>;
            key-positions = <21 33>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_repeat_l {
            bindings = <&key_repeat>;
            key-positions = <16 29>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_repeat_r {
            bindings = <&key_repeat>;
            key-positions = <30 19>;
            slow-release;
            require-prior-idle-ms = <100>;
            timeout-ms = <30>;
        };

        combo_space {
            bindings = <&kp SPACE>;
            key-positions = <29 28>;
            slow-release;
            require-prior-idle-ms = <150>;
            timeout-ms = <30>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <30 31>;
            slow-release;
            require-prior-idle-ms = <150>;
            timeout-ms = <30>;
        };

        combo_under {
            bindings = <&kp UNDER>;
            key-positions = <27 40>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_equal {
            bindings = <&kp EQUAL>;
            key-positions = <32 45>;
            timeout-ms = <30>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        combo_bslh {
            bindings = <&kp BSLH>;
            key-positions = <28 41>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_fslh {
            bindings = <&kp FSLH>;
            key-positions = <31 44>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_excl {
            bindings = <&kp EXCL>;
            key-positions = <41 40>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_pipe {
            bindings = <&kp PIPE>;
            key-positions = <44 45>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_lt {
            bindings = <&kp LT>;
            key-positions = <26 39>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_gt {
            bindings = <&kp GT>;
            key-positions = <46 33>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_lpar {
            bindings = <&kp LPAR>;
            key-positions = <40 39>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_rpar {
            bindings = <&kp RPAR>;
            key-positions = <45 46>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <37 38>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <47 48>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_lbrc {
            bindings = <&kp LBRC>;
            key-positions = <39 38>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_rbrc {
            bindings = <&kp RBRC>;
            key-positions = <47 46>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <100>;
        };

        combo_playpause {
            bindings = <&kp C_PP>;
            key-positions = <7 19>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_prev {
            bindings = <&kp C_PREV>;
            key-positions = <6 18>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_next {
            bindings = <&kp C_NEXT>;
            key-positions = <8 20>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <170>;
        };

        combo_volup {
            bindings = <&mm_A_volup_briup>;
            key-positions = <4 16>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_voldn {
            bindings = <&mm_A_voldn_bridn>;
            key-positions = <3 15>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_mute {
            bindings = <&kp C_MUTE>;
            key-positions = <2 14>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_gui_l {
            bindings = <&sk LGUI>;
            key-positions = <13 25>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_sk_gui_r {
            bindings = <&sk RGUI>;
            key-positions = <22 34>;
            timeout-ms = <30>;
            slow-release;
            require-prior-idle-ms = <200>;
        };

        combo_caps {
            bindings = <&kp CAPS>;
            key-positions = <17 18>;
        };

        combo_mkp_mb3 {
            bindings = <&mkp MB3>;
            key-positions = <51 58>;
            layers = <0>;
            timeout-ms = <170>;
            require-prior-idle-ms = <200>;
            slow-release;
        };
    };

    macros {
        macro_two_spaces: four_spaces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp SPACE>;
            label = "FOUR_SPACES";
        };

        macro_superhot: superhot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp T &kp S &kp LS(D) &kp LS(M) &kp LS(D) &kp N2 &kp N5 &kp N1 &kp N0 &kp N1 &kp N5 &kp N0 &kp N7>;
            label = "SUPERHOT";
        };

        macro_hyperheat: hyperheat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DLLR &kp LS(O) &kp LS(N) &kp D &kp LS(E) &kp LS(R) &kp LS(K) &kp LS(R) &kp AT &kp LS(F) &kp LS(T) &kp LS(F) &kp AT &kp LS(H) &kp LS(R) &kp LS(Z) &kp LS(E) &kp LS(U) &kp LS(G) &kp SPACE &kp N1 &kp N8 &kp N2>;
            label = "HYPERHEAT";
        };

        macro_email_dd431: email_dd431 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp U &kp C &kp DOT &kp D &kp A &kp O &kp DOT &kp N4 &kp N3 &kp N1 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL_DD431";
        };

        macro_plus_equal: plus_equ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PLUS &kp EQUAL>;
            label = "PLUS_EQU";
        };

        macro_minus_equal: macro_minus_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp EQUAL>;
            label = "MACRO_MINUS_EQUAL";
        };

        macro_mult_equal: macro_mult_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp STAR &kp EQUAL>;
            label = "MACRO_MULT_EQUAL";
        };

        macro_div_equal: macro_div_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp EQUAL>;
            label = "MACRO_DIV_EQUAL";
        };

        macro_ctrl_left: macro_ctrl_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LEFT)>;
            label = "MACRO_CTRL_LEFT";
        };

        macro_ctrl_right: macro_ctrl_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(RIGHT)>;
            label = "MACRO_CTRL_RIGHT";
        };

        macro_select_line_finish_home: macro_select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp END>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp UP &kp END &kp RIGHT>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "MACRO_SELECT_LINE";
        };

        macro_select_line_finish_end: macro_select_line_finish_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp HOME>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp DOWN &kp HOME &kp LEFT>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "MACRO_SELECT_LINE_FINISH_END";
        };

        macro_select_prev_line: macro_select_prev_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp UP &kp HOME>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "MACRO_SELECT_PREV_LINE";
        };

        macro_select_next_line: macro_select_next_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp DOWN &kp END>,
                <&macro_release>,
                <&kp LSHFT>;

            label = "MACRO_SELECT_NEXT_LINE";
        };
    };

    behaviors {
        ht_kp_kp: ht_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT | KP / KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <170>;
        };

        td_S_CS: td_S_CS {
            compatible = "zmk,behavior-tap-dance";
            label = "TD | S / CS";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&kp LC(LSHIFT)>;
        };

        td_C_CA: td_C_CA {
            compatible = "zmk,behavior-tap-dance";
            label = "TD | C / CA";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp LC(LALT)>;
        };

        ht_capw: ht_capw {
            compatible = "zmk,behavior-hold-tap";
            label = "HT | CAPW";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
        };

        ht170_kp_kp: ht170_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT170 | KP / KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <100>;
        };

        fuego: fuego {
            compatible = "zmk,behavior-hold-tap";
            label = "FUEGO";
            bindings = <&macro_hyperheat>, <&macro_superhot>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
        };

        email_1: email_1 {
            compatible = "zmk,behavior-hold-tap";
            label = "EMAIL_1";
            bindings = <&macro_email_dd431>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ht500_kp_kp: ht500_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT500 | KP / KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
        };

        plus_equal: plus_equal {
            compatible = "zmk,behavior-hold-tap";
            label = "PLUS_EQUAL";
            bindings = <&macro_plus_equal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <170>;
        };

        mm_A_volup_briup: mm_A_volup_briup {
            compatible = "zmk,behavior-mod-morph";
            label = "MM / ALT | VOL_UP / BRI_UP";
            bindings = <&kp C_VOL_UP>, <&kp C_BRI_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        mm_A_voldn_bridn: mm_A_voldn_bridn {
            compatible = "zmk,behavior-mod-morph";
            label = "MM / ALT | VOLDN / BRIDN";
            bindings = <&kp C_VOL_DN>, <&kp C_BRI_DN>;

            #binding-cells = <0>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        ht_mo_sl: ht_mo_sl {
            compatible = "zmk,behavior-hold-tap";
            label = "HT | MO / SL";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mm_S_kp0_0: mm_S_kp0_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP0_0";
            bindings = <&kp KP_N0>, <&kp LS(N0)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp1_1: mm_S_kp1_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP1_1";
            bindings = <&kp KP_N1>, <&kp LS(N1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp2_2: mm_S_kp2_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP2_2";
            bindings = <&kp KP_N2>, <&kp LS(N2)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp3_3: mm_S_kp3_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP3_3";
            bindings = <&kp KP_N3>, <&kp LS(N3)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp4_4: mm_S_kp4_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP4_4";
            bindings = <&kp KP_N4>, <&kp LS(N4)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp5_5: mm_S_kp5_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP5_5";
            bindings = <&kp KP_N5>, <&kp LS(N5)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp6_6: mm_S_kp6_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP6_6";
            bindings = <&kp KP_N6>, <&kp LS(N6)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp7_7: mm_S_kp7_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP7_7";
            bindings = <&kp KP_N7>, <&kp LS(N7)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp8_8: mm_S_kp8_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP8_8";
            bindings = <&kp KP_N8>, <&kp LS(N8)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_kp9_9: mm_S_kp9_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_S_KP9_9";
            bindings = <&kp KP_N9>, <&kp LS(N9)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        hrm_r: hrm_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            quick-tap-ms = <80>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <16 17 28 29 40 41 13 14 15 16 17 25 26 27 28 29 37 38 39 40 41 12 24 36 50 51 52 53 54 49 35 23 0 1 2 3 4 5 6 7 8 9 10 11 59 58 57 42 43>;
        };

        hrm_l: hrm_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            quick-tap-ms = <80>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <18 19 21 22 30 31 32 33 34 44 45 46 47 48 20 23 35 49 55 56 57 58 59 12 24 36 0 1 2 3 4 5 6 7 8 9 10 11 43 42 52 51 50>;
        };

        mm_S_lpar_rpar: mm_S_lpar_rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "MM / SHF | LPAR / RPAR";
            bindings = <&kp LPAR>, <&kp RPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_lbkt_rbkt: mm_S_lbkt_rbkt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM / SHF | LBKT / RBKT";
            bindings = <&kp LBKT>, <&kp RBKT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_lbrc_rbrc: mm_S_lbrc_rbrc {
            compatible = "zmk,behavior-mod-morph";
            label = "MM / SHF | LBRC / RBRC";
            bindings = <&kp LBRC>, <&kp RBRC>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_S_lt_gt: mm_S_lt_gt {
            compatible = "zmk,behavior-mod-morph";
            label = "MM / SHF | LT / GT";
            bindings = <&kp LT>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_shf_moBaseMir: td_shf_moBaseMir {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHF_MOBASEMIR";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&mo 2>;

            tapping-term-ms = <150>;
        };

        td_ctr_moBaseMir: td_ctr_moBaseMir {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CTR_MOBASEMIR";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&mo 2>;

            tapping-term-ms = <150>;
        };

        ht170_mo_mmbspc: ht170_mo_mmbspc {
            compatible = "zmk,behavior-hold-tap";
            label = "HT170_MO_MMBSPC";
            bindings = <&mo>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <120>;
            flavor = "hold-preferred";
        };

        td_pgdn_pgup: td_pgdn_pgup {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PGDN_PGUP";
            #binding-cells = <0>;
            bindings = <&kp PG_DN>, <&kp PG_UP>;

            tapping-term-ms = <120>;
        };

        minus_equal: minus_equal {
            compatible = "zmk,behavior-hold-tap";
            label = "MINUS_EQUAL";
            bindings = <&macro_minus_equal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <170>;
        };

        mult_equal: mult_equal {
            compatible = "zmk,behavior-hold-tap";
            label = "MULT_EQUAL";
            bindings = <&macro_mult_equal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <170>;
        };

        div_equal: div_equal {
            compatible = "zmk,behavior-hold-tap";
            label = "DIV_EQUAL";
            bindings = <&macro_div_equal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            quick-tap-ms = <170>;
        };

        td_select_line: td_select_line {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SELECT_LINE";
            #binding-cells = <0>;
            bindings =
                <&macro_select_line_finish_end>,
                <&macro_select_line_finish_home>;

            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_base_hrm {
            display-name = "base-hrm";
            bindings = <
&ht_kp_kp GRAVE ESC  &kp LS(N1)     &email_1 0 LS(N2)        &kp LS(N3)                      &kp LS(N4)      &kp LS(N5)                           &kp LS(N6)   &kp LS(N7)      &kp LS(N8)                     &kp UNDER                &kp BSLH       &ht_capw CAPS 0
&kp TAB              &kp Q          &kp W                    &kp F                           &kp P           &kp G                                &kp J        &kp L           &kp U                          &kp Y                    &kp SEMI       &kt LS(LCTRL)
&kp BSPC             &hrm_l LGUI A  &hrm_l LALT R            &hrm_l LCTRL S                  &hrm_l LSHFT T  &kp D                                &kp H        &hrm_r RSHFT N  &hrm_r RCTRL E                 &hrm_r RALT I            &hrm_r RGUI O  &kp APOS
&kp PG_UP            &kp Z          &kp X                    &kp C                           &kp V           &kp B        &kt LSHFT    &kt LCTRL  &kp K        &kp M           &kp COMMA                      &kp DOT                  &kp FSLH       &kp PG_DN
                                    &macro_select_prev_line  &macro_select_line_finish_home  &mkp MB1        &lt 5 ENTER  &lt 2 DEL    &lt 2 TAB  &lt 5 SPACE  &mkp MB2        &macro_select_line_finish_end  &macro_select_next_line
            >;

            sensor-bindings =
                <&inc_dec_kp DOWN UP>,
                <&inc_dec_kp LC(RIGHT) LC(LEFT)>;

            label = "Base HRM";
        };

        layer_base_normal {
            display-name = "base-normal";
            bindings = <
&ht_kp_kp GRAVE ESC  &kp LS(N1)  &email_1 0 LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                                           &kp LS(N6)   &kp LS(N7)  &kp LS(N8)  &kp UNDER  &kp BSLH  &ht_capw CAPS 0
&kp TAB              &kp Q       &kp W              &kp F       &kp P       &kp G                                                &kp J        &kp L       &kp U       &kp Y      &kp SEMI  &kp LBKT
&kp BSPC             &kp A       &kp R              &kp S       &kp T       &kp D                                                &kp H        &kp N       &kp E       &kp I      &kp O     &kp APOS
&kp PG_UP            &kp Z       &kp X              &kp C       &kp V       &kp B        &kt LSHFT            &kt LCTRL          &kp K        &kp M       &kp COMMA   &kp DOT    &kp FSLH  &kp PG_DN
                                 &kp LGUI           &kp LALT    &kp LCTRL   &lt 5 ENTER  &td_shf_moBaseMir    &td_ctr_moBaseMir  &lt 5 SPACE  &kp LSHFT   &kp LALT    &to 0
            >;

            sensor-bindings =
                <&inc_dec_kp DOWN UP>,
                <&inc_dec_kp LC(RIGHT) LC(LEFT)>;

            label = "Base Normal";
        };

        layer_base_normal_mir {
            display-name = "base-normal-mir";
            bindings = <
&ht_capw CAPS 0  &kp BSLH  &kp UNDER  &kp LS(N8)  &kp LS(N7)  &kp LS(N6)                           &kp LS(N5)   &kp LS(N4)  &kp LS(N3)  &email_1 0 LS(N2)  &kp LS(N1)  &ht_kp_kp GRAVE ESC
&kp LBKT         &kp SEMI  &kp Y      &kp U       &kp L       &kp J                                &kp G        &kp P       &kp F       &kp W              &kp Q       &kp TAB
&kp APOS         &kp O     &kp I      &kp E       &kp N       &kp H                                &kp D        &kp T       &kp S       &kp R              &kp A       &kp DEL
&kp PG_DN        &kp FSLH  &kp DOT    &kp COMMA   &kp M       &kp K        &kt LCTRL    &kt LSHFT  &kp B        &kp V       &kp C       &kp X              &kp Z       &kp PG_UP
                           &kp LGUI   &kp LALT    &kp LSHFT   &lt 5 SPACE  &none        &none      &lt 5 ENTER  &kp LCTRL   &kp LALT    &to 0
            >;

            sensor-bindings =
                <&inc_dec_kp LC(RIGHT) LC(LEFT)>,
                <&inc_dec_kp DOWN UP>;

            label = "Base Normal Mirrored";
        };

        layer_qwerty {
            display-name = "qwerty";
            bindings = <
&ht_kp_kp GRAVE ESC  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                               &kp N6       &kp N7     &kp N8     &kp N9   &kp N0    &ht_capw CAPS 0
&kp TAB              &kp Q   &kp W     &kp E     &kp R      &kp T                                &kp Y        &kp U      &kp I      &kp O    &kp P     &kp LBKT
&kp BSPC             &kp A   &kp S     &kp D     &kp F      &kp G                                &kp H        &kp J      &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT            &kp Z   &kp X     &kp C     &kp V      &kp B        &kt LSHFT    &kt LCTRL  &kp N        &kp M      &kp COMMA  &kp DOT  &kp FSLH  &td_pgdn_pgup
                             &kp LGUI  &kp LALT  &kp LCTRL  &lt 5 ENTER  &kp LSHFT    &td_C_CA   &lt 5 SPACE  &kp LSHFT  &kp LALT   &to 0
            >;

            sensor-bindings =
                <&inc_dec_kp DOWN UP>,
                <&inc_dec_kp LC(RIGHT) LC(LEFT)>;

            label = "QWERTY";
        };

        layer_qwerty_mir {
            display-name = "qwerty-mir";
            bindings = <
&ht_kp_kp GRAVE ESC  &kp N0    &kp N9    &kp N8     &kp N7     &kp N6                               &kp N5       &kp N4     &kp N3    &kp N2  &kp N1  &ht_capw CAPS 0
&kp LBKT             &kp P     &kp O     &kp I      &kp U      &kp Y                                &kp T        &kp R      &kp E     &kp W   &kp Q   &kp TAB
&kp SQT              &kp SEMI  &kp L     &kp K      &kp J      &kp H                                &kp G        &kp F      &kp D     &kp S   &kp A   &kp BSPC
&td_pgdn_pgup        &kp FSLH  &kp DOT   &kp COMMA  &kp M      &kp N        &kt LSHFT    &kt LCTRL  &kp B        &kp V      &kp C     &kp X   &kp Z   &kp LSHFT
                               &kp LGUI  &kp LALT   &kp LSHFT  &lt 5 SPACE  &kp LCTRL    &td_S_CS   &lt 5 ENTER  &kp LCTRL  &kp LALT  &to 0
            >;

            label = "QWERTY Mirrored";
            sensor-bindings =
                <&inc_dec_kp LC(RIGHT) LC(LEFT)>,
                <&inc_dec_kp DOWN UP>;
        };

        layer_extended {
            display-name = "extended";
            bindings = <
&kp LA(F4)         &ht500_kp_kp F13 F1        &ht500_kp_kp F14 F2  &ht500_kp_kp F15 F3  &ht500_kp_kp F16 F4  &ht500_kp_kp F17 F5                                          &ht500_kp_kp F18 F6   &ht500_kp_kp F19 F7  &ht500_kp_kp F20 F8   &ht500_kp_kp F21 F9  &ht500_kp_kp F22 F10  &kp PSCRN
&macro_two_spaces  &kp ESC                    &mm_S_kp7_7          &mm_S_kp8_8          &mm_S_kp9_9          &ht500_kp_kp F23 F11                                         &ht500_kp_kp F24 F12  &plus_equal 0 PLUS   &minus_equal 0 MINUS  &mult_equal 0 ASTRK  &div_equal 0 FSLH     &ht_kp_kp RBRC RBKT
&kp DEL            &mm_S_kp0_0                &mm_S_kp4_4          &mm_S_kp5_5          &mm_S_kp6_6          &kp EQUAL                                                    &kp HOME              &kp LEFT             &kp DOWN              &kp UP               &kp RIGHT             &kp END
&msc SCRL_UP       &ht_kp_kp LS(GRAVE) GRAVE  &mm_S_kp1_1          &mm_S_kp2_2          &mm_S_kp3_3          &kp INS               &kp C_AL_CALC    &kp C_AL_MY_COMPUTER  &kp SCROLLLOCK        &kp KP_NUMLOCK       &trans                &trans               &kp BSLH              &msc SCRL_DOWN
                                              &mkp MB3             &mkp MB2             &mkp MB1             &mm_S_lpar_rpar       &mm_S_lt_gt      &mm_S_lbkt_rbkt       &mm_S_lbrc_rbrc       &mkp MB1             &mkp MB2              &to 0
            >;

            sensor-bindings =
                <&inc_dec_kp LC(LS(DOWN)) LC(LS(UP))>,
                <&inc_dec_kp LC(LS(RIGHT)) LC(LS(LEFT))>;

            label = "Extended";
        };

        layer_extra {
            display-name = "extra";
            bindings = <
&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                &bt BT_SEL 4               &bt BT_SEL 3    &bt BT_SEL 2      &bt BT_SEL 1  &bt BT_SEL 0     &bt BT_CLR
&kp TAB       &fuego 0 0    &kt LALT      &kt LCTRL     &kt LSHFT     &kp C_BRI_UP                                &kp C_VOL_UP               &msc SCRL_LEFT  &msc SCRL_DOWN    &msc SCRL_UP  &msc SCRL_RIGHT  &msc MOVE_DOWN
&kp BSPC      &none         &mkp MCLK     &mkp RCLK     &mkp LCLK     &kp C_BRI_DN                                &ht_kp_kp C_MUTE C_VOL_DN  &mmv MOVE_LEFT  &mmv MOVE_DOWN    &mmv MOVE_UP  &mmv MOVE_RIGHT  &msc MOVE_UP
&out OUT_TOG  &none         &none         &mkp MB5      &mkp MB4      &none         &kp C_POWER    &kp C_RESET    &none                      &kp C_PREV      &kp C_PLAY_PAUSE  &kp C_NEXT    &none            &out OUT_TOG
                            &soft_off     &sys_reset    &bootloader   &kp ENTER     &kp C_SLEEP    &kp C_AL_LOCK  &kp SPACE                  &bootloader     &sys_reset        &to 0
            >;

            label = "Extra";
            sensor-bindings =
                <&inc_dec_kp LC(DEL) LC(BSPC)>,
                <&inc_dec_kp DEL BSPC>;
        };
    };
};
